[지역축제 데이터] <hr>

In [1]:
import pandas as pd
import numpy as np
import openpyxl as xl

In [2]:
'''
총 11개
festDF: 분기별 대단위 소단위 지역축제 데이터
fest_unique_DF: 연간 지역축제 데이터
'''

'\n총 11개\nfestDF: 분기별 대단위 소단위 지역축제 데이터\nfest_unique_DF: 연간 지역축제 데이터\n'

In [3]:
# [데이터 읽기]
festDF=pd.read_excel('./PROJECT_DATA/지역축제.xlsx')

In [4]:
# [데이터 전처리]
# 인덱스 통일
festDF.rename(columns={'광역단체명':'시도','구':'군구'},inplace=True)
festDF

         시도        군구  1분기  2분기  3분기  4분기
0     서울특별시       강북구    2    3    3    2
1     서울특별시       노원구    1    1    1    2
2     서울특별시       용산구    1    2    0    1
3     서울특별시       종로구    3    7   11    9
4     서울특별시        중구    2    7    8   15
..      ...       ...  ...  ...  ...  ...
86     경상남도       창원시    3    4    4    9
87     경상남도       하동군    4    4    3    2
88     경상남도       함안군    1    3    4    4
89  제주특별자치도  제주특별자치도시    4    5    9   13
90  제주특별자치도      서귀포시    3    6    6    5

[91 rows x 6 columns]

In [5]:
# [시도 별 총 지역축제수]
sr1=pd.DataFrame([['대구광역시',0,0,0,0],['인천광역시',0,0,0,0]])
sr1.columns=['시도','1분기','2분기','3분기','4분기']
sr2=pd.DataFrame([['세종특별자치시',0,0,0,0]])
sr2.columns=['시도','1분기','2분기','3분기','4분기']
festDF[(festDF.iloc[:,0]=='부산광역시')]
festDF=pd.concat([festDF.iloc[:13],sr1,festDF[(festDF.iloc[:,0]=='대전광역시') |
           (festDF.iloc[:,0]=='광주광역시')|(festDF.iloc[:,0]=='울산광역시')],sr2,
           festDF.iloc[festDF[(festDF.iloc[:,0]=='경기도')].index[0]:]])

festDF
festDF.iloc[:2]
list1=[]
for x in festDF.iloc[:,0].drop_duplicates():
    list1.append(festDF[festDF.iloc[:,0]==x].iloc[:,2:].sum().sum())
len(list1)
fest_unique_DF=festDF.iloc[:,0].drop_duplicates()
fest_unique_DF.reset_index(drop=True,inplace=True)
fest_unique_DF=pd.concat([fest_unique_DF,pd.Series(list1)],axis=1)
fest_unique_DF.rename(columns={0:'지역축제 수'},inplace=True)
fest_unique_DF

         시도  지역축제 수
0     서울특별시      81
1     부산광역시      59
2     대구광역시       0
3     인천광역시       0
4     광주광역시      37
5     대전광역시       5
6     울산광역시      32
7   세종특별자치시       0
8       경기도      68
9   강원특별자치도     103
10     충청북도      13
11     충청남도      88
12     전라북도      88
13     전라남도      83
14     경상북도      55
15     경상남도     115
16  제주특별자치도      51