[1] 지역별 지출액 자료 <hr>

In [2]:
## [1-1] 모듈 로딩 
import pandas as pd      # 데이터 분석 및 전처리 관련 모듈 
import numpy as np       # NaN/NAN/nan 즉, 빈칸 표시 관련 모듈

In [3]:
'''
총 1개개
payDF: 지역별 지출액
'''

'\npayDF: 지역별 지출액\n'

In [5]:
payDF=pd.read_csv('./PROJECT_DATA/지출액.csv',encoding='EUC-KR')
payDF.drop(payDF.columns[0],inplace=True,axis=1)
payDF=payDF.T
payDF.reset_index(names='시도',inplace=True)
payDF.rename(columns={0:'지출액'},inplace=True)
payDF

    시도   지출액
0   서울  1299
1   부산  2168
2   대구   522
3   인천   842
4   광주   243
5   대전   466
6   울산   393
7   세종   125
8   경기  3927
9   강원  6248
10  충북  1179
11  충남  2403
12  전북  1849
13  전남  3179
14  경북  3028
15  경남  3042
16  제주  6903