[1] 교통만족도 자료 <hr>

In [1]:
## [1-1] 모듈 로딩 
import pandas as pd      # 데이터 분석 및 전처리 관련 모듈 
import numpy as np       # NaN/NAN/nan 즉, 빈칸 표시 관련 모듈

In [2]:

'''
총 1개
traffic_satDF: 지역별 교통만족도
'''

'\n총 1개\ntraffic_satDF: 지역별 교통만족도\n'

In [3]:
traffic_satDF=pd.read_csv('./PROJECT_DATA/교통만족도.csv',encoding='EUC-KR')
traffic_satDF
traffic_satDF.drop(traffic_satDF.columns[0],inplace=True,axis=1)
traffic_satDF=traffic_satDF.T
traffic_satDF.reset_index(names='시도',inplace=True)
traffic_satDF.rename(columns={0:'교통만족도'},inplace=True)
traffic_satDF

    시도  교통만족도
0   서울   73.4
1   부산   74.2
2   대구   75.1
3   인천   75.0
4   광주   78.8
5   대전   76.4
6   울산   77.2
7   세종   79.3
8   경기   78.0
9   강원   77.1
10  충북   79.0
11  충남   77.7
12  전북   82.2
13  전남   82.4
14  경북   77.3
15  경남   75.5
16  제주   79.1