[Boolean Indexing]
- True/False 값으로 구성된 Series
- True 해당하는 값만 추출
    - 마치 인덱스의 기능을 한다고 해서 boolean indexing 이라 함.
- Mask, Window라고도 함.

[1] 모듈 로딩 및 데이터 준비 <hr>

In [1]:
# [1-1] 모듈 로딩
import pandas as pd
# [1-2] 데이터 준비
mDF=pd.read_csv('../../../KDP-7/02.PANDAS/DATA/member.csv')
mDF.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7 entries, 0 to 6
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   번호      7 non-null      int64
 1   이름      7 non-null      object
 2   나이      7 non-null      int64
 3   지역      7 non-null      object
dtypes: int64(2), object(2)
memory usage: 352.0+ bytes

[2] 조건에 맞는 데이터 추출 <hr>

In [2]:
# [2-1] 나이가 20살 이상인 데이터 추출
mDF[mDF['나이']>=20]

   번호   이름  나이  지역
0   1  홍길동  20  대구
2   3  최희진  22  마산
3   4  마징가  31  부산
5   6  김나나  25  서울
6   7  박서희  33  광주

In [7]:
# [2-1] 나이가 20대만 추출
mDF[(mDF['나이']>=20) & (mDF['나이']<=30)]

   번호   이름  나이  지역
0   1  홍길동  20  대구
2   3  최희진  22  마산
5   6  김나나  25  서울

In [8]:
# [2-1] 나이가 20대이면서 대구에 사는 사람만 추출
mDF[((mDF['나이']>=20) & (mDF['나이']<=30))&(mDF['지역']=='대구')]

   번호   이름  나이  지역
0   1  홍길동  20  대구