In [1]:
import pandas as pd
## [3-1] 
s=pd.Series(['banana',42])
print(s)

0    banana
1        42
dtype: object

In [2]:
s=pd.Series(data=['West Mckinney', 'Creator of pandas'], index=['person','Who'])
print(s)

person        West Mckinney
Who       Creator of pandas
dtype: object

In [3]:
# [3-2] 시리즈 다루기
scientists=pd.DataFrame(
data={
"Occupation": ["Chemist", "Statistician"],
"Born": ["1920-07-25", "1876-06-13"],
"Died": ["1958-04-16", "1937-10-16"],
"Age": [37, 61],
},
index=["Rosaline Franklin", "William Gosset"],
columns=["Occupation", "Born", "Died", "Age"],
)
print(scientists)

                     Occupation        Born        Died  Age
Rosaline Franklin       Chemist  1920-07-25  1958-04-16   37
William Gosset     Statistician  1876-06-13  1937-10-16   61

In [4]:
first_row=scientists.loc['William Gosset']
print(first_row)
first_row.index
print(type(first_row))

Occupation    Statistician
Born            1876-06-13
Died            1937-10-16
Age                     61
Name: William Gosset, dtype: object
<class 'pandas.core.series.Series'>

In [5]:
print(first_row.index)
print(first_row.values)

Index(['Occupation', 'Born', 'Died', 'Age'], dtype='object')
['Statistician' '1876-06-13' '1937-10-16' np.int64(61)]

In [6]:
# index 속성과 keys() method와 같은 기능을 한다
first_row.keys()
first_row.keys()[0]
first_row.index[0]

'Occupation'

In [7]:
ages=scientists['Age']
print(ages)

Rosaline Franklin    37
William Gosset       61
Name: Age, dtype: int64

In [8]:
print(ages.mean())
print(ages.min())
print(ages.max())
print(ages.std())

49.0
37
61
16.97056274847714

In [9]:
sr4=pd.Series([1,10,20,30])
sr2=pd.Series([1,10,20,30])
print(sr4.corr(sr2))

0.9999999999999999

In [10]:
sr1=pd.Series([1,10,20,10,20,50,30,40])
sr3=sr1.drop_duplicates()
sr3=sr3.reset_index(drop=True)
sr3.sort_values()

0     1
1    10
2    20
4    30
5    40
3    50
dtype: int64

In [11]:
sr4.equals(sr2)
sr1.isin(sr4)

0     True
1     True
2     True
3     True
4     True
5    False
6     True
7    False
dtype: bool

In [12]:
print(sr1.quantile(0.5),)
print(sr1.mean())

20.0
22.625

In [13]:
scientists=pd.read_csv('../DATA/scientists.csv')
print(scientists)
ages=scientists['Age']
print(ages)
ages[ages>ages.mean()]

                   Name        Born        Died  Age          Occupation
0     Rosaline Franklin  1920-07-25  1958-04-16   37             Chemist
1        William Gosset  1876-06-13  1937-10-16   61        Statistician
2  Florence Nightingale  1820-05-12  1910-08-13   90               Nurse
3           Marie Curie  1867-11-07  1934-07-04   66             Chemist
4         Rachel Carson  1907-05-27  1964-04-14   56           Biologist
5             John Snow  1813-03-15  1858-06-16   45           Physician
6           Alan Turing  1912-06-23  1954-06-07   41  Computer Scientist
7          Johann Gauss  1777-04-30  1855-02-23   77       Mathematician
0    37
1    61
2    90
3    66
4    56
5    45
6    41
7    77
Name: Age, dtype: int64

1    61
2    90
3    66
7    77
Name: Age, dtype: int64

In [14]:
sr1=pd.Series([37,61,90,66,56,45,41,77])
rev_sr1=sr1.sort_index(ascending=False)
rev_sr1
print(sr1*2)
sr1*2+rev_sr1 # 자동으로 오름차순 정렬한다

0     74
1    122
2    180
3    132
4    112
5     90
6     82
7    154
dtype: int64

0    111
1    183
2    270
3    198
4    168
5    135
6    123
7    231
dtype: int64

In [15]:
# [3-3]
print(scientists.loc[scientists['Age']>scientists['Age'].mean()])
print(scientists[[True,False,True,True,False,True,False,True]])

                   Name        Born        Died  Age     Occupation
1        William Gosset  1876-06-13  1937-10-16   61   Statistician
2  Florence Nightingale  1820-05-12  1910-08-13   90          Nurse
3           Marie Curie  1867-11-07  1934-07-04   66        Chemist
7          Johann Gauss  1777-04-30  1855-02-23   77  Mathematician
                   Name        Born        Died  Age     Occupation
0     Rosaline Franklin  1920-07-25  1958-04-16   37        Chemist
2  Florence Nightingale  1820-05-12  1910-08-13   90          Nurse
3           Marie Curie  1867-11-07  1934-07-04   66        Chemist
5             John Snow  1813-03-15  1858-06-16   45      Physician
7          Johann Gauss  1777-04-30  1855-02-23   77  Mathematician

In [20]:

print(format(10000,','))
born_date=scientists['Born']
print(born_date)
pd.to_datetime(born_date,format='%Y-%m-%d')

10,000
0    1920-07-25
1    1876-06-13
2    1820-05-12
3    1867-11-07
4    1907-05-27
5    1813-03-15
6    1912-06-23
7    1777-04-30
Name: Born, dtype: object

0   1920-07-25
1   1876-06-13
2   1820-05-12
3   1867-11-07
4   1907-05-27
5   1813-03-15
6   1912-06-23
7   1777-04-30
Name: Born, dtype: datetime64[ns]