[DataFrame의 reset 다루기]

[1] 모듈 로딩 및 데이터 준비 <hr>

In [20]:
# [1-1] module 로딩
import pandas as pd # 데이터 분석용 모듈
import numpy as np # NaN 빈칸 의미 상수 사용 위해서
from utils import *

[2] 데이터 확인 <hr>

In [21]:
# [2-1] 데이터 준비 및 확인인
dict_data = {'c0':[1,2,3], 'c1':[4,5,6], 'c2':[7,8,9], 'c3':[10,11,12],  'c4':[13,14,15]}
DF=pd.DataFrame(dict_data,index=['r0','r1','r2'])
print(DF)

    c0  c1  c2  c3  c4
r0   1   4   7  10  13
r1   2   5   8  11  14
r2   3   6   9  12  15

[3] index 제어 <hr>

In [22]:
# [3-1] 인덱스 리셋: 정수 인덱스로 초기화
# - 기존 행 인덱스: 컬럼으로 이동
DF1=DF.reset_index()
print(DF1)
DF1.columns

  index  c0  c1  c2  c3  c4
0    r0   1   4   7  10  13
1    r1   2   5   8  11  14
2    r2   3   6   9  12  15

Index(['index', 'c0', 'c1', 'c2', 'c3', 'c4'], dtype='object')

In [23]:
## - parameter: drop
## - 기존 인덱스 컬럼으로 이동 X, 삭제
DF.reset_index(drop=True)

   c0  c1  c2  c3  c4
0   1   4   7  10  13
1   2   5   8  11  14
2   3   6   9  12  15

In [24]:
## - parameter: name
## - 기존 인덱스를 컬럼으로 이동 시 컬럼이름 설정
DF1=DF.reset_index(names='구분')
DF1=DF1.set_index(['구분','c0'])
DF1

       c1  c2  c3  c4
구분 c0
r0 1    4   7  10  13
r1 2    5   8  11  14
r2 3    6   9  12  15

In [25]:
# level col_level, col_fill 확인해보기
# multi index or col만 가능
DF1.reset_index(level=0)

    구분  c1  c2  c3  c4
c0
1   r0   4   7  10  13
2   r1   5   8  11  14
3   r2   6   9  12  15

In [28]:
DF1.reset_index(level=0,col_fill='번호')

    구분  c1  c2  c3  c4
c0
1   r0   4   7  10  13
2   r1   5   8  11  14
3   r2   6   9  12  15