[DataFrame의 reset 다루기]

[1] 모듈 로딩 및 데이터 준비 <hr>

In [184]:
# [1-1] module 로딩
import pandas as pd # 데이터 분석용 모듈
import numpy as np # NaN 빈칸 의미 상수 사용 위해서
from utils import *

[2] 데이터 확인 <hr>

In [185]:
# [2-1] 데이터 준비 및 확인
dict_data = {'c0':[9,12,13,14], 'c1':[14,5,16,1], 'c2':[7,18,9,2], 'c3':[13,11,9,5],  'c4':[13,14,15,17]}
DF=pd.DataFrame(dict_data,index=['r3','r1','r2','r0'])
print(DF)

    c0  c1  c2  c3  c4
r3   9  14   7  13  13
r1  12   5  18  11  14
r2  13  16   9   9  15
r0  14   1   2   5  17

[3] index 정렬-인덱스 기준 <hr>

In [186]:
# [3-1] 인덱스 기준으로 정렬
DF2=DF.sort_index()
print(DF2)

    c0  c1  c2  c3  c4
r0  14   1   2   5  17
r1  12   5  18  11  14
r2  13  16   9   9  15
r3   9  14   7  13  13

In [187]:
DF2.index=[x.upper() for x in DF.index]
print(DF2)
DF2.rename(index={'R2':'r2'},inplace=True)
DF2.sort_index(axis=1,ascending=False)

    c0  c1  c2  c3  c4
R3  14   1   2   5  17
R1  12   5  18  11  14
R2  13  16   9   9  15
R0   9  14   7  13  13

    c4  c3  c2  c1  c0
R3  17   5   2   1  14
R1  14  11  18   5  12
r2  15   9   9  16  13
R0  13  13   7  14   9

In [188]:
DF2.sort_index(key=lambda x:x.str[1])
DF2.loc['R4']=0
print(DF2)
DF2.reindex((list(DF2.index)+['R10']))

    c0  c1  c2  c3  c4
R3  14   1   2   5  17
R1  12   5  18  11  14
r2  13  16   9   9  15
R0   9  14   7  13  13
R4   0   0   0   0   0

       c0    c1    c2    c3    c4
R3   14.0   1.0   2.0   5.0  17.0
R1   12.0   5.0  18.0  11.0  14.0
r2   13.0  16.0   9.0   9.0  15.0
R0    9.0  14.0   7.0  13.0  13.0
R4    0.0   0.0   0.0   0.0   0.0
R10   NaN   NaN   NaN   NaN   NaN

[4] 값 비교

In [192]:
# 값으로 정렬: sort_values
DF2.sort_values(by='c0')
# 행 기준으로 정렬
DF2.sort_values(by='R1',axis=1)
DF2.sort_values(by='R0',axis=1)

    c2  c0  c3  c4  c1
R3   2  14   5  17   1
R1  18  12  11  14   5
r2   9  13   9  15  16
R0   7   9  13  13  14
R4   0   0   0   0   0

In [190]:
# 2개 컬럼 기준으로 값 정렬
DF2.sort_values(by=['c1','c4'])

    c0  c1  c2  c3  c4
R4   0   0   0   0   0
R3  14   1   2   5  17
R1  12   5  18  11  14
R0   9  14   7  13  13
r2  13  16   9   9  15