[DataFrame 연산]

[1] 모듈 로딩 및 데이터 준비 <hr>

[2] 데이터 확인 <hr>

In [2]:
# [1-1] module 로딩
import pandas as pd # 데이터 분석용 모듈
import numpy as np # NaN 빈칸 의미 상수 사용 위해서
from utils import *
# [1-2] data 준비
data={'국어':[90,100,60,60], '영어':[100,50,30,10], '수학':[80,60,70,10]}

In [4]:
DF1=pd.DataFrame(data,index=['강','허','박','이'])
DF1

    국어   영어  수학
강   90  100  80
허  100   50  60
박   60   30  70
이   60   10  10

[3] DataFrame 다루기

In [5]:
# [3-1] 연산하기
## [3-1-1] 산술술연산하기
print(DF1+10)
print(DF1-10)
print(DF1*10)
print(DF1/10)
print(DF1//10)
print(DF1%10)
print(DF1**2)

    국어   영어  수학
강  100  110  90
허  110   60  70
박   70   40  80
이   70   20  20
   국어  영어  수학
강  80  90  70
허  90  40  50
박  50  20  60
이  50   0   0
     국어    영어   수학
강   900  1000  800
허  1000   500  600
박   600   300  700
이   600   100  100
     국어    영어   수학
강   9.0  10.0  8.0
허  10.0   5.0  6.0
박   6.0   3.0  7.0
이   6.0   1.0  1.0
   국어  영어  수학
강   9  10   8
허  10   5   6
박   6   3   7
이   6   1   1
   국어  영어  수학
강   0   0   0
허   0   0   0
박   0   0   0
이   0   0   0
      국어     영어    수학
강   8100  10000  6400
허  10000   2500  3600
박   3600    900  4900
이   3600    100   100

In [6]:
# [3-1-2] 비교교연산하기
print(DF1==10)
print(DF1!=10)

      국어     영어     수학
강  False  False  False
허  False  False  False
박  False  False  False
이  False   True   True
     국어     영어     수학
강  True   True   True
허  True   True   True
박  True   True   True
이  True  False  False

In [12]:
# [3-1-3] 연산기호-DataFrame
##  np.nan: 결측치 or missing value
data1={'국어':[50,np.nan,60,np.nan], '영어':[100,90,30,10], '수학':[70,np.nan,70,10]}  
DF2=pd.DataFrame(data1,index=['강','허','박','이'])
DF2
print(DF1+DF2)
print(DF1-DF2)
print(DF1*DF2)
print(DF1/DF2)

      국어   영어     수학
강  140.0  200  150.0
허    NaN  140    NaN
박  120.0   60  140.0
이    NaN   20   20.0
     국어  영어    수학
강  40.0   0  10.0
허   NaN -40   NaN
박   0.0   0   0.0
이   NaN   0   0.0
       국어     영어      수학
강  4500.0  10000  5600.0
허     NaN   4500     NaN
박  3600.0    900  4900.0
이     NaN    100   100.0
    국어        영어        수학
강  1.8  1.000000  1.142857
허  NaN  0.555556       NaN
박  1.0  1.000000  1.000000
이  NaN  1.000000  1.000000

In [13]:
# [3-1-4] 연산관련 method: 빈칸 존재 시 빈칸을 포함하여 연산수행하는 방법
# - fill_value=any, 빈칸에 채워질 값
print(DF1.add(DF2,fill_value=0),'\n')
print(DF1.sub(DF2,fill_value=0),'\n')
print(DF1.mul(DF2,fill_value=0),'\n')
print(DF1.div(DF2,fill_value=0),'\n')

      국어   영어     수학
강  140.0  200  150.0
허  100.0  140   60.0
박  120.0   60  140.0
이   60.0   20   20.0

      국어  영어    수학
강   40.0   0  10.0
허  100.0 -40  60.0
박    0.0   0   0.0
이   60.0   0   0.0

       국어     영어      수학
강  4500.0  10000  5600.0
허     0.0   4500     0.0
박  3600.0    900  4900.0
이     0.0    100   100.0

    국어        영어        수학
강  1.8  1.000000  1.142857
허  inf  0.555556       inf
박  1.0  1.000000  1.000000
이  inf  1.000000  1.000000