[CSV => DataFrame 변환처리]

[1] 모듈로딩 및 데이터 준비 <hr>

In [139]:
## [1-1] 모듈로딩
import pandas as pd #  데이터파일 분석 모듈
import os # python  기본 모듈, 시스템과 파일과 폴더와 관련 모듈

In [140]:
# 함수기능: 데이터프레임 속성 출력
# 함수이름: print_attribut()
# 매개변수: x(DF type)

def print_attribute(x:pd.DataFrame,xname:str):
    print(f'------[{xname}]-------')
    print(f'dtype: {x.dtypes}')    
    print(f'col: {x.columns}')
    print(f'idx: {x.index}')
    print(f'dim: {x.ndim}')
    print(f'shape: {x.shape}')
    print(f'values: \n{x.values}')

In [141]:
## [1-2] 데이터 준비
file1='../DATA/member.csv'
file3='../DATA/member3.csv'

In [142]:
## [2-1] 데이터 로딩
f1DF=pd.read_csv(file1)
f2DF=pd.read_csv(file3,sep=';',header=None)
f2DF.columns=f1DF.columns
print(f1DF)
print(f2DF,sep=';')

   번호   이름  나이  지역
0   1  홍길동  20  대구
1   2  이나영  12  서울
2   3  최희진  22  마산
3   4  마징가  31  부산
4   5  박지민  17  대구
5   6  김나나  25  서울
6   7  박서희  33  광주
   번호   이름  나이  지역
0   1  홍길동  20  대구
1   2  이나영  12  서울
2   3  최희진  22  마산
3   4  마징가  31  부산
4   5  박지민  17  대구
5   6  김나나  25  서울
6   7  박서희  33  광주

In [143]:
# [2-2] 데이터 확인
## info(), head()/tail(), describe()
# - 요약정보
f1DF.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7 entries, 0 to 6
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   번호      7 non-null      int64
 1   이름      7 non-null      object
 2   나이      7 non-null      int64
 3   지역      7 non-null      object
dtypes: int64(2), object(2)
memory usage: 352.0+ bytes

In [144]:
# - 실제데이터
print(f1DF.head(2))
print(f1DF.tail(2))

   번호   이름  나이  지역
0   1  홍길동  20  대구
1   2  이나영  12  서울
   번호   이름  나이  지역
5   6  김나나  25  서울
6   7  박서희  33  광주

In [145]:
# - col별 통계치
f1DF.describe(include='all')

              번호   이름         나이   지역
count   7.000000    7   7.000000    7
unique       NaN    7        NaN    5
top          NaN  홍길동        NaN   대구
freq         NaN    1        NaN    2
mean    4.000000  NaN  22.857143  NaN
std     2.160247  NaN   7.470577  NaN
min     1.000000  NaN  12.000000  NaN
25%     2.500000  NaN  18.500000  NaN
50%     4.000000  NaN  22.000000  NaN
75%     5.500000  NaN  28.000000  NaN
max     7.000000  NaN  33.000000  NaN

In [146]:
# - 데이터 출력
## - DataFrame의 속성
print_attribute(f1DF,'f1DF')

------[f1DF]-------
dtype: 번호     int64
이름    object
나이     int64
지역    object
dtype: object
col: Index(['번호', '이름', '나이', '지역'], dtype='object')
idx: RangeIndex(start=0, stop=7, step=1)
dim: 2
shape: (7, 4)
values:
[[1 '홍길동' 20 '대구']
 [2 '이나영' 12 '서울']
 [3 '최희진' 22 '마산']
 [4 '마징가' 31 '부산']
 [5 '박지민' 17 '대구']
 [6 '김나나' 25 '서울']
 [7 '박서희' 33 '광주']]

In [147]:
# header(): 몇번째까지를 header로 설정할건지(col) 
f1DF1=pd.read_csv(file1,header=[0])
print(f1DF1)
print()
print(f1DF1.head(1))

   번호   이름  나이  지역
0   1  홍길동  20  대구
1   2  이나영  12  서울
2   3  최희진  22  마산
3   4  마징가  31  부산
4   5  박지민  17  대구
5   6  김나나  25  서울
6   7  박서희  33  광주

   번호   이름  나이  지역
0   1  홍길동  20  대구

In [148]:
f1DF1=pd.read_csv(file1,index_col=None,header=[0])
print(f1DF1)

   번호   이름  나이  지역
0   1  홍길동  20  대구
1   2  이나영  12  서울
2   3  최희진  22  마산
3   4  마징가  31  부산
4   5  박지민  17  대구
5   6  김나나  25  서울
6   7  박서희  33  광주

In [149]:
print_attribute(f2DF,'f2DF')

------[f2DF]-------
dtype: 번호     int64
이름    object
나이     int64
지역    object
dtype: object
col: Index(['번호', '이름', '나이', '지역'], dtype='object')
idx: RangeIndex(start=0, stop=7, step=1)
dim: 2
shape: (7, 4)
values:
[[1 '홍길동' 20 '대구']
 [2 '이나영' 12 '서울']
 [3 '최희진' 22 '마산']
 [4 '마징가' 31 '부산']
 [5 '박지민' 17 '대구']
 [6 '김나나' 25 '서울']
 [7 '박서희' 33 '광주']]