[다양한 형식으로 데이터 저장]

[1] 모듈 로딩 및 데이터 준비 <hr>

In [55]:
# [1-1] 모듈 로딩
import pandas as pd # 데이터 분석 및 전처리 관련 모듈
import numpy as np # 빈칸 표시 관련 모듈

In [56]:
dataDF= pd.DataFrame({'name': ['Raphael', 'Donatello'],
                 'mask': ['red', 'purple'],
                'weapon': ['sai', 'bo staff']}, 
                     index=['one','two'])
dataDF.to_csv('out.csv', index=False)

[2] 데이터 생성 <hr>

In [57]:
# - DataFrame 생성
dataDF

          name    mask    weapon
one    Raphael     red       sai
two  Donatello  purple  bo staff

In [58]:
# series 생성
sr1=dataDF['name']
sr2=dataDF['mask']
sr3=pd.Series(dataDF['name']).values
sr3

array(['Raphael', 'Donatello'], dtype=object)

[3] 파일로 저정하기 <hr>

In [59]:
# - csv파일로 저장하기
# - 저장경로
#   1. 절대경로: C:\~~~~ window경우 드라이브부터 전체 경로
#   2. 상대경로: 현재파일기준 경로 설정
#               1) '.' 의미: 현재위치 예) ./파일명
#               2) '..'의미: 현재 바로 상위 예) ../../../
File_CSV_R='../data1.csv' # 상대경로
File_CSV_R2='../data3.csv' # 상대경로
File_CSV_A=r'C:\Users\gy931\OneDrive\Desktop\KDP-7\02.PANDAS\D0121\data2.csv' # 절대경로

In [60]:
## DataFrame-> Series
# 인덱스 젤 상단 라벨 설정
dataDF.to_csv(File_CSV_R,index_label='No')
# 구분자 설정
dataDF.to_csv(File_CSV_A,sep=':')

# DataFrame의 index 저장하지 않기 -> index parameter=False
# 컬럼명 저장하지 않기 설정 parameter: header(기본값: True)
# 파일쓰기 모든 설정 parameter: mode(기본값: 'w': 파일 존재 시 내용 지우고 쓰기
#                                           'a': 파일 존재 시 내용 붙여넣기기 )
dataDF.to_csv(File_CSV_R2,index=False,header=False)

In [61]:
# -Series -> csv파일로 저장
sr1.to_csv(File_CSV_R,index_label="No")

In [62]:
# DataFrame -> Json파일로 저장하기
File_CSV_R='../data1.json' # 상대경로
dataDF.to_json(File_CSV_R)

In [63]:
# DataFrame -> Excel파일로 저장하기
File_CSV_R='../data1.xlsx' # 상대경로
dataDF.to_excel(File_CSV_R)

In [74]:
pd1=pd.read_csv(r'C:\Users\gy931\OneDrive\Desktop\KDP-7\02.PANDAS\data1.csv',index_col='No',names=['No','name'],header=0)
pd1

          name
No
one    Raphael
two  Donatello