[pandas & matplotlib - 표준화] <hr>
- 기본 자료형의 형 변환
    * 실제 데이터와 타입 일치
    * 데이터 의미와 타입 일치
- 데이터 의미 형변환
    * 연속형/수치형 -> 범주형
    * 범주형        -> 연속형/수치형

In [28]:
# [1-1] 모듈로딩
import pandas as pd
import numpy as np

In [29]:
# [1-2]
DF1=pd.read_csv('../../02.PANDAS/DATA/auto_mpg.csv')

In [30]:
data=[1,7,5,4,6,3]
result=pd.cut(data,3)
# 데이터가 속하는 구간으로 변경경

print(type(result))
print(result)

<class 'pandas.core.arrays.categorical.Categorical'>
[(0.994, 3.0], (5.0, 7.0], (3.0, 5.0], (3.0, 5.0], (5.0, 7.0], (0.994, 3.0]]
Categories (3, interval[float64, right]): [(0.994, 3.0] < (3.0, 5.0] < (5.0, 7.0]]

In [31]:
data=[1,7,5,4,6,3]
result=pd.cut(data,3,labels=['A','B','C'])
# 데이터가 속하는 구간으로 변경

print(type(result))
print(result)

<class 'pandas.core.arrays.categorical.Categorical'>
['A', 'C', 'B', 'B', 'C', 'A']
Categories (3, object): ['A' < 'B' < 'C']

In [32]:
data=[1,7,5,4,6,3]
result,bins=pd.cut(data,3,include_lowest=True,retbins=True)
# 데이터가 속하는 구간으로 변경

print(type(result))
print(result)
print(bins)

<class 'pandas.core.arrays.categorical.Categorical'>
[(0.993, 3.0], (5.0, 7.0], (3.0, 5.0], (3.0, 5.0], (5.0, 7.0], (0.993, 3.0]]
Categories (3, interval[float64, right]): [(0.993, 3.0] < (3.0, 5.0] < (5.0, 7.0]]
[0.994 3.    5.    7.   ]

In [33]:
# [2-2] autompg에서 horepower 타입변경
DF1['horsepower']=DF1['horsepower'].replace('?',np.nan)
# 컬럼의 결측치 확인하기
DF1['horsepower'].isna().sum()
# 결츨치 제거
DF1.dropna(inplace=True)

In [34]:
# '111'-> 111 형 변환
DF1['horsepower']=DF1['horsepower'].astype('int')

In [35]:
# 확인
DF1['horsepower'].dtype

dtype('int64')

In [37]:
# 연속형- >  범주형으로 형 변환: ['저출력','일반출력','고출력']
DF1['power']=pd.cut(DF1['horsepower'],bins=3,labels=['저출력','일반출력','고출력'])

a=['mpg',
 'cylinders',
 'displacement',
 'horsepower',
 'power',
 'weight',
 'acceleration',
 'model year',
 'origin',
 'car name',
]
DF1.reindex(columns=a)

,mpg,cylinders,displacement,horsepower,power,weight,acceleration,model year,origin,car name
0,18.0,8,307.0,130,일반출력,3504,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350.0,165,일반출력,3693,11.5,70,1,buick skylark 320
2,18.0,8,318.0,150,일반출력,3436,11.0,70,1,plymouth satellite
3,16.0,8,304.0,150,일반출력,3433,12.0,70,1,amc rebel sst
4,17.0,8,302.0,140,일반출력,3449,10.5,70,1,ford torino
...,...,...,...,...,...,...,...,...,...,...
393,27.0,4,140.0,86,저출력,2790,15.6,82,1,ford mustang gl
394,44.0,4,97.0,52,저출력,2130,24.6,82,2,vw pickup
395,32.0,4,135.0,84,저출력,2295,11.6,82,1,dodge rampage
396,28.0,4,120.0,79,저출력,2625,18.6,82,1,ford ranger
397,31.0,4,119.0,82,저출력,2720,19.4,82,1,chevy s-10