[pandas & matplotlib - 표준화] <hr>
- Series와 DataFrame에 특정 함수를 연결
- Series는 원소단위로 작동
- DataFrame은 Series 단위로 작동

In [36]:
# [1] 모듈 로딩
import pandas as pd

In [37]:
dataSR=pd.Series([11,22,33])
dataDF=pd.DataFrame([[10,20],[30,40]])

[2] Series와 DataFrame의 method <hr>

In [38]:
# [2]
a=[1,2,3,4,5,6,7]
list(map(lambda x:str(x) if x in range(0,8,2) else x,a))
for x in enumerate(a):
    print(x)

(0, 1)
(1, 2)
(2, 3)
(3, 4)
(4, 5)
(5, 6)
(6, 7)

In [39]:
# series의 값을 두배하고 저장
dataSR.apply(lambda x:(x*2)%3)

0    1
1    2
2    0
dtype: int64

In [40]:
# [3] DataFrame 원소 값을  float 변환
dataDF.apply(lambda x:(x*2)%3)

   0  1
0  2  1
1  0  2

In [52]:
dataDF.apply(lambda x:(x*2)%3,axis=1,result_type='expand')

   0  1
0  2  1
1  0  2

In [55]:
# apply() Series/ 원소
# apply() DataFrame / Series
# map() DataFrame / 원소소
dataDF.map(lambda x:(x*2)%3)

   0  1
0  2  1
1  0  2

[4] Series 전체 전달 맵핑 함수 -> pipe()

In [62]:
dataSR.pipe(sum)
dataDF.pipe(sum)

1

In [65]:
## 제품 판매 데이터
df=pd.DataFrame([['item A',1,20900]
                 ,['item B',1,3200]
                 ,['item C',5,100]
                 ,['item D',1,4000]
                 ,['item E',3,5000]],columns=['name','cnt','price']) 
def cnt_filter(df,a):
    cond=df.cnt==a
    filter_df=df.loc[cond]
    return filter_df

def get_sr(df,col_name):
    return df[col_name]

def sum_val(sr):
    return sr.sum()

df.pipe(cnt_filter,1).pipe(get_sr,'price').pipe(sum_val)

np.int64(28100)